<h2>Edit Part</h2>

<form action="/{{id}}?_method=put" method="post">
    <ul>
        <li>
            <label for="partName">Part Name: </label>
            <input type="text" value="{{partName}}" name="partName">
        </li>
        <br>
        <li>
            <label for="partNo">Part Number: </label>
            <input type="text" value="{{partNo}}" name="partNo">
        </li>
        <br>
        <li>
            <label for="quantity">Quantity: </label>
            <input type="number" value="{{quantity}}" name="quantity">
        </li>
        <br>
        <li>
            <label for="pricePer">Price each: </label>
            <input type="number" value="{{pricePer}}" name="pricePer">
        </li>
        <br>
        <li>
            <label for="totalPartPrice">Total Price: </label>
            <input type="number" value="{{totalPartPrice}}" name="totalPartPrice">
        </li>
        <br>
        <li>
            <label for="linkToPart">Link to Part: </label>
            <input type="text" value="{{linkToPart}}" name="linkToPart">
        </li>
        <br>
        <li>
            <label for="notes">Notes:  </label>
            <textarea rows = "5" cols = "60" value="{{notes}}" name="notes"></textarea>
        </li>
        <br>
        <li>
            <label for="installed">Installed?</label>
            {{#if installed}}
                <input type="checkbox" name="installed" checked>
            {{else}}
                <input type="checkbox" name="installed">
            {{/if}}
        </li>
    </ul>
    <br>
    <input type="submit" value="Update">
</form>
<br>
<a href="/">Go back to Home</a>