<h1>Car Mod Tracker</h1>

<ul>
  {{#each parts}}
    <li>
      {{#if installed}}
        <a href="/{{this.id}}"><strike>{{this.partName}}</strike></a>
        <label for="installed"> ---> Installed? </label>
      {{else}}
        <a href="/{{this.id}}">{{this.partName}}</a>
        <label for="installed"> ---> Installed? </label>
      {{/if}}
      {{#if installed}}
        Yes
      {{else}}
        No
      {{/if}}
    </li>
  {{/each}}
</ul>

<a href="/new">Add New Part</a>