<h2>Part Name:  {{partName}}</h2>
<ul>
    <li>Part Number:  {{partNo}}</li>
    <li>Quantity:  {{quantity}}</li>
    <li>Price each:  {{pricePer}}</li>
    <li>Total Price:  {{totalPartPrice}}</li>
    <li>Link to Part:  <a href="{{linkToPart}}" target="blank">Go to Part</a></li>
    <li>Reference Link: <a href ="{{refLink}}" target="blank">Go to Reference</a></li>
    <li>Notes:  {{notes}}</li>
    <li>Installed?:  
        {{#if installed}}
            Yes
        {{else}}
            No
        {{/if}}
    </li>
</ul>
<br>
<form action="/{{id}}?_method=delete" method="POST">
    <input type="submit" value="Delete">
</form>
<br>
<a href="/edit/{{id}}">Edit</a>
<br>
<br>
<a href="/">Go back to Home</a>